@mixin maskAnimation(
  $selector,
  $url,
  $frames, $windowWidth, $windowHeight,
  $strideX, $strideY, $offsetX, $offsetY
) {
  #{$selector} {
    $keyframesId: drawing-#{random()};
    @keyframes #{$keyframesId} {
      @for $i from 0 to $frames {
        #{100 / $frames * $i}% {
          background-position-x: #{-$i * $strideX + $offsetX}px;
          background-position-y: #{-$i * $strideY + $offsetY}px;
        }
      }
    }
    animation-name: $keyframesId;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;

    background: $url;
    width: #{$windowWidth}px;
    height: #{$windowHeight}px;
  }
}
